body{
	font-family: 'Noto Sans TC', sans-serif;
}

section{
	width: 100%;
	position: relative;
	text-align: center;
	transition: .2s linear all;
}

nav{
	position: fixed;
	top: 1rem;
	right: 0;
	z-index: 9999;
}

ul{
	padding: 0;
	text-indent: 0;
	list-style: none;
}

li{
	padding: .5rem;
	margin: .5rem 0;
	font-size: 2rem;
	background: #ff4500;
	text-align: center;
	border-radius: 5px 0 0 5px;
	width: 2rem;
	float: right;
	transition: .3s ease-in all;
	overflow-x: hidden;
	white-space: nowrap;
	vertical-align: middle;
}

li span{
	vertical-align: top;
	line-height: 2rem;
	font-size: 1rem;
}

li:hover{
	width: 12rem;
	cursor: pointer;
}

.clear{
	clear: both;
}

#comparison{
	display: none;
}

#plots{
	display: block;
}

#map{
	width: 100vw;
	height: 100vh;
}

.table{
	z-index: 99;
	background: rgba(250, 250, 250, 0.8);
	padding: .5rem;
	box-shadow: 1px 1px 5px 1px #777;
	font-size: .8rem;
	letter-spacing: .1px;
	text-align: left;
}

.table table{
	border-collapse: collapse;
	border: 1px solid #aaa;
}

.table .block{
	width: .5rem;
	height: .5rem;
	display: inline-block;
	background: red;
	border: 1px solid #000;
}

.tabel th{
	font-weight: 600;
}

.table td{
	border: 1px solid #ddd;
	padding: 1px;
	text-align: center;
}

#map_rain{
	width: 48vw;
	height: 99vh;
	display: inline-block;
}

#table_rain{
	position: absolute;
	left: 2vw;
	bottom: 1vh;
}

#map_plot{
	width: 48vw;
	height: 99vh;
	display: inline-block;
}

#table_plot{
	position: absolute;
	left: 51vw;
	bottom: 1vh;
}

#calendar-wrapper{
	position: absolute;
	top: 1rem;
	left: 1rem;
	text-align: left;
	background: rgba(40, 40, 40, 0.7);
	color: #f2f2f2;
	box-shadow: 1px 1px 7px 3px #777;
	padding: .5rem;
}

.timeline{
	width: 80%;
	left: 10%;
	text-align: center;
	position: absolute;
	bottom: 30px;
	padding: 1rem;
	background: rgba(240, 240, 240, 0.4);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.timeline input[type="range"]{
	width: 80%;
}

.timeline-play, .timeline-fast, .timeline-slow{
	font-size: 1.5rem;
	margin: 0 .5rem;
	cursor: pointer;
}

.timeline div{
	display: inline-block;
}

.timeline input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
}
.timeline input[type=range]:focus {
	outline: none;
}
.timeline input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #FF2222;
	border-radius: 25px;
	border: 0px solid #000101;
}
.timeline input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #65001c;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.6px;
}
.timeline input[type=range]:focus::-webkit-slider-runnable-track {
	background: #FF2222;
}
.timeline input[type=range]::-moz-range-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #FF2222;
	border-radius: 25px;
	border: 0px solid #000101;
}
.timeline input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #65001c;
	cursor: pointer;
}
.timeline input[type=range]::-ms-track {
	width: 100%;
	height: 12.8px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 39px 0;
	color: transparent;
}
.timeline input[type=range]::-ms-fill-lower {
	background: #FF2222;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.timeline input[type=range]::-ms-fill-upper {
	background: #FF2222;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.timeline input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 39px;
	border-radius: 7px;
	background: #65001c;
	cursor: pointer;
}
.timeline input[type=range]:focus::-ms-fill-lower {
	background: #FF2222;
}
.timeline input[type=range]:focus::-ms-fill-upper {
	background: #FF2222;
}
